.my_container{
    text-align: center;
}
.q{
   color: blue; 
}
.w{
    text-align: left;
    color: blue;
}
.navbar-right{
    text-align: justify;
}
.e{
    text-align: left;
    color: blue;
}
body{
    background-image: url(web.jpeg);
}